<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
<!--    <uses-permission android:name="android.permission.BROADCAST_SMS"-->
<!--        tools:ignore="ProtectedPermissions" />-->

    <application
        android:name=".features.presenter.services.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTS_B"
        tools:targetApi="31">
        <activity
            android:name=".features.view.ReceiverContacts"
            android:exported="false" />
        <activity
            android:name=".features.view.PreviousItems"
            android:exported="false" />
        <activity
            android:name=".features.view.TodoReminder"
            android:exported="false" />
        <activity
            android:name=".features.view.Weather"
            android:exported="false" />
        <activity
            android:name=".features.view.Traffic"
            android:exported="false" />
        <activity
            android:name=".features.view.Settings_Activity"
            android:exported="false" />
        <activity
            android:name=".features.view.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".features.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".features.presenter.services.ReceiveAndSendSMS"
            android:enabled="true"
            android:exported="true">

        </service>
<!--        <receiver android:name=".services.myBroadcastReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.example.BroadCastInService"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>



</manifest>